In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
months = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug',
         'Sept', 'Oct','Nov', 'Dec']
len(months)
months[1]

'Feb'

In [8]:
print(months[9:])

['Oct', 'Nov', 'Dec']

In [9]:
#using 'in' or 'not in ' function 

'Dec' in months

True

In [11]:
'Sunday' in months

False

In [12]:
'Jan' in months

True

In [13]:
'Sunday' not in months

True

In [14]:
'Feb' not in months

False

In [25]:
my_list = [1,2,3,4,5,6,7,8,9,0]
my_list[0:3] = 'one', 'two', 'three'
print(my_list)
my_list2 = [11,12,13,14]
my_list2[1] = 'twelve'
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
print(my_list2)

['one', 'two', 'three', 4, 5, 6, 7, 8, 9, 0]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[11, 'twelve', 13, 14]

In [27]:
greetings = "Hello there"
greetings[0] = 'M'

TypeError: 'str' object does not support item assignment

In [31]:
months = 8 
days_in_months = [31,28,31,30,31,30,31,31,80,90,30,31]

num_days = days_in_months[months +1]
print(num_days)

90

In [41]:
scores = ['B', 'C', 'A', 'D', 'B', 'A']
grades = scores
scores[3]: 'B'
print("scores: " + str(scores))
print('grades:' + str(grades))
max(scores)

scores: ['B', 'C', 'A', 'D', 'B', 'A']
grades:['B', 'C', 'A', 'D', 'B', 'A']

'D'

In [43]:
batch = [1,2,3,4,5,6,2,23,4,232342]
print(max(batch))

232342

In [50]:
numbers = [1,2,3,4,2,7,2,3,524,6,8,9,442,3,5,666664,3,2,35,5,6]
print(sorted(numbers))

alpha = ['a','z','c','d','f','e']
print(sorted(alpha))
print(sorted(numbers, reverse = False))
print(sorted(alpha, reverse = True))

[1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 5, 5, 6, 6, 7, 8, 9, 35, 442, 524, 666664]
['a', 'c', 'd', 'e', 'f', 'z']
[1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 5, 5, 6, 6, 7, 8, 9, 35, 442, 524, 666664]
['z', 'f', 'e', 'd', 'c', 'a']

In [53]:
full_name = ['Jaime', 'Flor', 'Figueroa']
print('-'.join(full_name))

Jaime-Flor-Figueroa

In [58]:
address = ['9826', 'Gabon Ct', 'Burke', 'VA', '22015']
print(' '.join(address[0:4]))

9826 Gabon Ct Burke VA

In [62]:
jmu = ['cob', 'quant-fin', 'econ']
jmu.append('finance')
print(sorted(jmu))

['cob', 'econ', 'finance', 'quant-fin']

In [67]:
number = (9826, 9828)
print(type(number))
print("Jaime's home address number is: {}".format(number[0]))
print("Jaime's neighbors home adress number is: {}".format(number[1]))

<class 'tuple'>
Jaime's home address number is: 9826
Jaime's neighbors home adress number is: 9828

In [68]:
dimensions = (52, 40, 100)
length, width, height = dimensions
print(dimensions)

(52, 40, 100)

In [72]:
print("The dimensions are {}x{}x{}".format(length, width, height))

The dimensions are 52x40x100

In [75]:
tuple_a = 1,2
tuple_b = (1,2)
print(tuple_a == tuple_b)
print(tuple_a[1])
print(tuple_b[0])

True
2
1

In [78]:
### extracting elements in a single element (removing duplicates)
## also tells you the # of elemets after removing duplicates 

countries = ['Bolivia', 'Argentina', 'Chile', 'Lebanon', 'USA', 'Chile',
            'Chile', 'USA']

country_set = set(countries)
print(country_set)
print(len(country_set))

{'Bolivia', 'Chile', 'Argentina', 'USA', 'Lebanon'}
5

In [79]:
print('India' in countries)

False

In [80]:
print('Chile' in country_set)

True

In [81]:
numbers = [1,2,6,3,1,1,6]
unique_numbs = set(numbers)
print(unique_numbs)

{1, 2, 3, 6}

In [100]:
ticker = {'AAPL', 'NFLX', 'AMAZON', 'GOOGL', 'FB'}
print('MU' in ticker)

ticker.add('MU')
print(ticker)

print(ticker.pop())


print(ticker)

False
{'FB', 'AAPL', 'AMAZON', 'MU', 'NFLX', 'GOOGL'}
FB
{'AAPL', 'AMAZON', 'MU', 'NFLX', 'GOOGL'}

In [108]:
tickers = {'AAPL': 156, 'AMZN': 1800, 'MU': 54}

print(tickers['MU'])
tickers['AMD'] = 3

print('AMD' in tickers)
print(tickers)
print('NVDA' in tickers)
print(tickers.get('FB'))

n = tickers.get('FB')

print(n is None)
print(n is not None)

54
True
{'AAPL': 156, 'AMZN': 1800, 'MU': 54, 'AMD': 3}
False
None
True
False

In [109]:
# Define a Dictionary, population,
# that provides information
# on the world's largest cities.
# The key is the name of a city
# (a string), and the associated
# value is its population in
# millions of people.
population = {'Shanghai': 17.8, 'Istanbul': 13.3, 'Karachi': 13.0, 'Mumbai': 12.5}
#   Key     |   Value
# Shanghai  |   17.8
# Istanbul  |   13.3
# Karachi   |   13.0
# Mumbai    |   12.5
print(type(population))

<class 'dict'>

In [110]:
animals = {'dogs': [20, 10, 15, 8, 32, 15], 'cats': [3,4,2,8,2,4], 'rabbits': [2, 3, 3], 'fish': [0.3, 0.5, 0.8, 0.3, 1]}

In [111]:
print(animals['dogs'])

[20, 10, 15, 8, 32, 15]

In [112]:
print(animals['dogs'][3])

8

In [114]:
print(animals['fish'])

[0.3, 0.5, 0.8, 0.3, 1]

In [115]:
VINIX = {'C': [0.74, -6.51],  'MA': [0.78, 34.77],  'BA': [0.79, 17.01],  'PG': [0.85, -8.81],  'CSCO': [0.88, 18.56],  'VZ': [0.9, 2.16],  'PFE': [0.92, 13.96],  'HD': [0.97, 3.2],  'INTC': [1.0, 2.61],  'T': [1.01, -15.19],  'V': [1.02, 24.0],  'UNH': [1.02, 19.32],  'WFC': [1.05, -3.59],  'CVX': [1.05, -5.77],  'BAC': [1.15, 4.27],  'JNJ': [1.41, -5.58],  'GOOGL': [1.46, 17.84],  'GOOG': [1.47, 17.03],  'BRK.B': [1.5, 4.54],  'XOM': [1.52, -6.87],  'JPM': [1.53, 7.66],  'FB': [2.02, 0.91], 'AMZN': [2.96, 62.75], 'MSFT': [3.28, 26.61], 'AAPL': [3.94, 26.01]}

In [116]:
print(VINIX)

{'C': [0.74, -6.51], 'MA': [0.78, 34.77], 'BA': [0.79, 17.01], 'PG': [0.85, -8.81], 'CSCO': [0.88, 18.56], 'VZ': [0.9, 2.16], 'PFE': [0.92, 13.96], 'HD': [0.97, 3.2], 'INTC': [1.0, 2.61], 'T': [1.01, -15.19], 'V': [1.02, 24.0], 'UNH': [1.02, 19.32], 'WFC': [1.05, -3.59], 'CVX': [1.05, -5.77], 'BAC': [1.15, 4.27], 'JNJ': [1.41, -5.58], 'GOOGL': [1.46, 17.84], 'GOOG': [1.47, 17.03], 'BRK.B': [1.5, 4.54], 'XOM': [1.52, -6.87], 'JPM': [1.53, 7.66], 'FB': [2.02, 0.91], 'AMZN': [2.96, 62.75], 'MSFT': [3.28, 26.61], 'AAPL': [3.94, 26.01]}

In [122]:
tickers = {'AAPL':{'Price': 158,
                   'Volume': 100000,
                   'Adj-Close': 159},
           'FB': {'Price': 207,
                  'Volume': 123000,
                  'Adj-Close':208}}

print(tickers['AAPL']['Volume'])

100000

In [123]:
print(tickers['FB']['Price'])
print(tickers['AAPL']['Adj-Close'])

207
159

In [124]:
verse = "if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise"
print(verse, '\n')

# split verse into list of words
verse_list = verse.split()
print(verse_list, '\n')

# convert list to a data structure that stores unique elements
verse_set = set(verse_list)
print(verse_set, '\n')

# print the number of unique words
num_unique = len(verse_set)
print(num_unique, '\n')

if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise

['if', 'you', 'can', 'keep', 'your', 'head', 'when', 'all', 'about', 'you', 'are', 'losing', 'theirs', 'and', 'blaming', 'it', 'on', 'you', 'if', 'you', 'can', 'trust', 'yourself', 'when', 'all', 'men', 'doubt', 'you', 'but', 'make', 'allowance', 'for', 'their', 'doubting', 'too', 'if', 'you', 'can', 'wait', 'and', 'not', 'be', 'tired', 'by', 'waiting', 'or', 'being', 'lied', 'about', 'don’t', 'deal', 'in', 'lies', 'or', 'being', 'hated', 'don’t', 'give', 'way', 'to', 'hating', 'and', 'yet', 'don’t', 'look', 'too', 'good', 'nor', 'talk', 'too', 'wise']

{'yourself', 'keep', 'on', 'allowance', 'not', 'tired', 'can', 'hating', 'waiting', 'theirs', 'doubt', 'deal', 'men', 'in', 'be', 'way', 'blaming', 'wait', 'it', 'to', 'good', 'when', 'all', 'doubting', 'or', 'and', 'losing', 'nor', 'lies', 'are', 'make', 'by', 'about', 'trust', 'but', 'head', 'wise', 'being', 'don’t', 'hated', 'talk', 'yet', 'look', 'your', 'if', 'lied', 'for', 'their', 'too', 'you', 'give'}

51